{
  "semi": false,
  "arrowParens": "always",
  "singleQuote": true,
  "endOfLine": "auto",
  "printWidth": 80,
  "overrides": [
    {
      "files": ["flags.json"],
      "options": {
        "printWidth": 120
      }
    }
  ]
}
