.has-transparent-fill {
  background-image: linear-gradient(45deg, #ddd 25%, transparent 25%),
    linear-gradient(-45deg, #ddd 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #ddd 75%),
    linear-gradient(-45deg, transparent 75%, #ddd 75%);
  background-size: 20px 20px;
  background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
}

.object-at-left {
  object-position: left;
}

.object-at-right {
  object-position: right;
}

.object-fit-cover {
  object-fit: cover;
}

.has-border-bottom-primary {
  border-bottom: 1px solid #8f00ff;
}
.has-border-bottom-primary-light {
  border-bottom: 1px solid #f6ebff;
}
.has-border-bottom-light {
  border-bottom: 1px solid #ccc;
}
