/* Import Bulma Utilities */
@import '~bulma/sass/utilities/initial-variables';
@import '~bulma/sass/utilities/functions';

/* Variable changes go here */

// Set colors
// ref: https://en.wikipedia.org/wiki/Shades_of_violet#Electric_violet
$flagstaff-violet: #8f00ff; // Electric Violet
$primary: $flagstaff-violet;

$twitter: #4099ff;
$twitter-invert: findColorInvert($twitter);

$navbar-item-img-max-height: 2rem;

$dimensions: 16 24 32 48 64 96 128 160 192 256 !default;

$link: $primary;

$custom-colors: (
  'secondary': (
    #70ff00
  )
);

// $content-heading-color: $primary;

// Import Bulma and Buefy styles
@import '~bulma';
@import '~buefy/src/scss/buefy';

@media screen and (min-width: $tablet) {
  .image {
    @each $dimension in $dimensions {
      &.is-tablet-#{$dimension}x#{$dimension} {
        height: $dimension * 1px;
        width: $dimension * 1px;
      }
    }
  }
}

.has-max-width-tablet {
  max-width: $tablet;
}
